@keyframes typing { from { width: 0; } }
@keyframes caret { 50% { border-color: transparent; } }

body {
background: url("https://img.kb-cdn.com/imgviewer/NVpIM2ptOHhYRzVmUk5rM1NrNlFxYVV6enV4aGk2UFRJMmxPckdDUUVNYldsQk81OGFjdEcwQlhabEhCb0JhVWE3WThHT1RUalRseGl0KzQwaURVdGdSdWw0aUduYUVKTDVXVDVqd202R3FER1I1MkN2azd2RTRjZDIwUGxEam5USEhuc3hINHh6RXF2WjVnamo4czh0TnhrZ0Vsc0drRVVjL211SFpZNUZINnVyZkNVRFVmdSthSlY5WUJqeUE5Ym9xcFRiWnM3QzRVSEVxUXZsMUs5QUJ5UWVDMGNnTjJHbDRlRS9kOWl6a0lFa3EvWmtQN0lsc09aVm1WUUhsMw==?square=0");
}

p {
font-family: monospace; 
width: 120ch;
color: #999;
text-shadow: 0 20px 10px rgba(0, 0, 0, .5);
border-right: .08em solid;
overflow: hidden;
font-size: 4em;
white-space: nowrap;
animation: typing 2s steps(11, end), caret .2s step-end;
}

input {
  width: 1500px;
  height: 50px;
  color: white;
  background-color: black;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  border: solid 2px white;
  border-radius: 3px;
  transition: .4s;
}

input:hover {
  background: white;
  color: black;
  border: solid 2px black;
}

html,body { overflow: hidden }

a {font-size: 2em; position: relative; right: 0px; }
